@import '../../common/variables.scss';

.add-course {
	border:3px solid blueviolet;
	&__header {

  label {
		font-size: 20px;
		display: block;
		margin-bottom: 10px;
		}
	
	.btn {
		position: absolute;
		right:0;
		bottom: 0;
	}
}

  &__inputs {
	   position: relative;
		 margin-bottom: 20px;
	}

	&__title {
		font-size: 20px;
	}

	&__description {
		margin-top: 10px;
		box-sizing: border-box;
		padding: 20px 10px;
		width: 100%;
		height: 100px;
		display: block;
		border: 3px solid yellow;
		font-size: $font-size;
	}

	&__footer {
		border: 3px solid black;
		display:flex;
		flex-wrap: wrap;
		font-size: $font-size;

		.block {
			width: 50%;
			box-sizing: border-box;
			display:flex;
			flex-direction: column;
			align-items: center;

			&__title {
				text-align: center;
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			label {
				align-self: flex-start;
				margin-bottom: 10px;
			}

			input {
				width: 100%;
				box-sizing: border-box;
				margin-bottom: 10px;
			}

			&__duration-output {
				align-self: flex-start;
				font-size: 26px;
			}

			&__authors-list {
				padding: 0;
				margin: 0;
				width:90%;
			}

			&__authors-item {
				margin-bottom: 5px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__author-name {
				max-width: 40%;
			}
		}
	}
}
